@CHARSET "ISO-8859-1";

@import "foundation/settings";
@import "foundation/components/offcanvas";

@import "compass/css3";
@import "transform/settings";
@import "transform/flip";

@import "font-awesome";
@import "font-awesome/variables";

$green: #3c5346;
$red: #872633;
$yellow: #dfb655;
$black: #272328;
$purple: #2a1f26;
$white: #f9f9f9;

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-regular.ttf);
}

@font-face {
    font-family: "OpenSansLt";
    src: url(../fonts/opensans-light-webfont.woff);
}


@font-face {
    font-family: "OpenSansLtCn";
    src: url(../fonts/OpenSans-CondLight.ttf);
}


html, body {
	width:100%;
	padding:0;
	margin:0;
}

body {
	font-family:"OpenSansLt";
	
}

div {
	padding:0;
	margin:0;
	border:0px;
	
}

    /* Card Flip CSS */

.container { 
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800px;
}

.T2card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center;
}

.T2card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.T2card .front {
  background: red;
}

.T2card .back {
  background: blue;
  transform: rotateY( 180deg );
}

.T2card.flipped {
  transform: translateX( -100% ) rotateY( -180deg );
}



    /* End Card Flip CSS */



    /* Down Arrow CSS */



.arrow {
  position: absolute;
  top: calc(100vh - 50px);
  left: 50%;
  margin-left:-20px;
}
 
.bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}
.animated{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;
 
animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
 
 animation-delay: 2s;
 -moz-animation-delay: 2s;
 -webkit-animation-delay: 2s;
 -o-animation-delay: 2s;
 -ms-animation-delay: 2s;
 
animation-fill-mode:both;
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-ms-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;
}
 
 
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-30px);}
    60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-30px);}
    60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}



     /* End Down Arrow CSS */

.section {
    
}

p {
	margin:0;
	padding:0;
}

h1, h2, h3, h4 {
	font-family:"OpenSans";
	font-size:16px;
	font-weight:400;
	margin:0;
	padding:0;
}

.main {
	height:calc(100vh - 60px);
	width:100%;
	background: url("../img/campusPhoto1.jpg");
    background-position: 80% 60%;
    background-size:cover;
    background-repeat: no-repeat;
    padding-right:15px;
    padding-top:2em;
}

.headtext {
    float:right;
}

.h1Head {
	font-size:1.85em;
	text-align:right;
	color:#333;
	/*font-family:"opensanslt";*/
}

.h2Head {
	font-size:1.35em;
	text-align:right;
	color:#333;
	/*font-family:"opensanslt";*/
}

/* //////////////////////// */
/*    Second Section Area   */
/* //////////////////////// */

.two {
    width:100%;
    color:rgb(215,215,215);    
    position:relative;
    padding-top:1.5em;
    padding-bottom:3em;
}

.twoContainer {
	text-align:center;
	width:100%;
	min-height:700px;
}

.twoH2 {
	display:block;
	text-align:center;
	font-family:"OpenSans";
	font-weight:400;
	font-size:1.85em;
	padding:0;
	margin:0;
	margin-bottom:32px;	
	color:#333;	
}

.questionnaire {
	width:275px;
	margin-left:auto;
	margin-right:auto;
	height:55px;
	border: 1px lightgrey solid;
	margin-bottom:32px;
	
}

.tileContainer {
    margin-left:auto;
    margin-right:auto;
    min-height:600px;
    text-align:center;
    padding: 0 15px;
}

.rightCol {
	display:none;
}

.tile {
	display:inline-block;
	min-height:125px;
	max-width:400px;
	overflow:auto;
	vertical-align:top;
	margin-bottom: 1.5em;
}

.tileInvis {
	display:none;
}

.icon {
	color:#888;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size:1.5em;
    margin-bottom:10px;
}

.h3Tile {
	display:block;
	font-size:1.15em;
	text-align:center;
	margin-bottom:12px;
    color:#333; 
}

.tileText {
	text-align:center;
	font-size:.95em;
	color: rgb(95,95,95);
	
}





/*
.col {
    display:inline-block;
	min-height:525px;
	width: 25%;
	background-color: rgb(115,115,115);
	overflow:auto;
	vertical-align:top;
		
}

.rightCol {
}

.leftCol {
}

.midImg {
	display:inline-block;
	width:50%;
	min-height:525px;
	background-color: $red;
	overflow:auto;
	vetical-align:top;
}
*/




/* //////////////////////// */
/*  End Second Section Area */
/* //////////////////////// */


/* Courses Area */



.coursesArea2 {
	width:100%;
	height:1428px;
}

.coursesArea {
	height:700px;
	width:100%
}

.vertHalf {
	min-height:50%;
	height:50%;
	min-width:100%;
}

.vertFull {
	min-height:100%;
	height:100%;
	min-width:100%;
}

.leftHalf {
	min-height:100%;
	height:100%;
	min-width:50%;
	max-width:50%;
	color: $white;
	background-color:$purple;
    display:inline-block;
	vertical-align:top;
	
}

.tier1 {
    font-size:1.07em;
    margin:0;
    padding:0;
    padding-left:.4em;
}

.listi {
	display:block;
	line-height:1.5em;
	margin-bottom:.5em;
	margin-right:11px;
}

.listi:before {
 content: "\003E \020";
 font-family:"consolas";
 font-weight:200;
 font-size: .8em;
 width: 1em;
 float:left;
 margin-bottom:.1em;
}


.rightHalf {
	min-height:100%;
	height:100%;
	min-width:50%;
	max-width:50%;
	display:inline-block;
	/*background-color:rgba(100,60,60,.5);*/
}

.flip-card-container {
	@include box-shadow(0 0 150px rgba(darken(#000000, 10%), .8) inset);
	background-color: #ccc;
}

.mobi {
	min-height:50%;
	max-height:50%;
}

.mobiTop {
	background-color: $red;
}

.mobiBottom {
	background-color: $green;
}

.rightHalf > div > div {
	text-align:left;
}

.rightHalf > div > div > div {
	padding: 1rem;
}

/*.rightHalf > div > div > div > b {
	vertical-align:middle;
	display:inline-block;
	line-height:1pem;
}*/
.tier2 {
	display:none;
	min-width:50%;
  max-width:50%;
	min-height:100%;
	height:100%;
	display:inline-block;
	/*background-color: $purple;*/
}

.tier2Info, .tier2Info .card-front,.tier2Img, .tier2Img .card-front, {
	min-width:100%;
	max-width:100%;
}

 .tier2Info .card-front, .tier2Img .card-front, .tier3Info .card-front, .tier3Img .card-front {
	min-height:100%;
	max-height:100%;
	height:100%;
}

.tier2Info, .tier2Img, .tier3Info, .tier3Img {
	min-height:50%;
	height:50%;
	min-width:100%;
  max-width:100%;
  text-align:left;
}
.tier2Info .card-front, .tier2Info > div {
	background-color: $green;
}
.tier2Img .card-front, .tier2Img > div {
	background-color: $yellow;
}
.tier3Info .card-front, .tier3Info > div {
	background-color: $red;
}
.tier3Img .card-front, .tier3Img > div {
	background-color: $black;
}

.tier3 {
	display:none;
    min-width:50%;
    max-width:50%;
    min-height:100%;
    height:100%;
    display:inline-block;
 /*   background-color: $black;*/
}






@media (min-width:408px) {
	.coursesArea {
	   height:540px;
	}
}
    
@media (min-width:665px) {
	.twoContainer {
	min-height:400px;
	}
	
	.questionnaire {
	   width:445px;
	}
	
    .tileInvis {
    display:inline-block;
    }
    
    .tileContainer {
        max-width: 850px;
        min-height:400px;
    }
    
    .tile {
        max-width:280px;
        margin-bottom:2.25em;
    }
    
    .tile:nth-child(even) {
        margin-left:2.5em;
    }
    
    .tile:nth-child(even) > .h3Tile,
    .tile:nth-child(even) > .tileText {
        text-align:left;
    }
    
    .tile:nth-child(odd) > .h3Tile,
    .tile:nth-child(odd) > .tileText {
    text-align:right;
    }
    
    .tile:nth-child(odd) > .icon {
        float:right;
        margin-bottom:3.5em;
        margin-left:.75em;
    }
    
    .tile:nth-child(even) > .icon {
        float:left;
        margin-bottom:3em;
        margin-right:.75em;
    }
    
    .h3Tile {
    }
    
    .tileText {
    }
    
	.rightHalf {
	    min-height:100%;
	    height:100%;
	    min-width:435px;
	    max-width:435px;
	    display:inline-block;
	    background-color:rgba(100,60,60,.5);
    }
	
	.leftHalf {
	    min-height:100%;
	    height:100%;
	    min-width:calc(100% - 435px);
	    max-width:calc(100% - 435px);
	    color: $white;
	    background-color:$purple;
	    display:inline-block;
	    vertical-align:top;
    
    }
	
	.mobi {
	   display:none;
	}
	
	.coursesArea {
       height:595px;
    }
    
    .tier2 {
        display:inline-block;
    }
    
    
    .tier3 {
        display:inline-block;
    }

	.tier1 {
        font-size:1.1em;
        margin:0;
        padding:0;
        padding-left:1.05em;
    }

    .listi {
        display:block;
        line-height:1.5em;
        margin-bottom:.601em;
        margin-right:11px;
    }

    .listi:before {
        content: "\003E \020";
        font-family:"consolas";
        font-weight:200;
        font-size: .8em;
        width: 1em;
        float:left;
        margin-bottom:.1em;
    }
    
    .listi a {
    	color: #f9f9f9;
    }
}
	

@media (min-width:716px) {   
    .tile:nth-child(even) {
        margin-left:4em;
    }	
	
	.coursesArea {
        height:645px;
    }	
    
    .tier1 {
	    font-size:1.3em;
	    margin:0;
	    padding:0;
	    padding-left:1em;
	}

    .listi {
	    display:block;
	    line-height:1.5em;
	    margin-bottom:.5em;
	    margin-right:11px;
	}

    .listi:before {
	   content: "\003E \020";
	   font-family:"consolas";
	   font-weight:200;
	   font-size: .8em;
	   width: 1em;
	   float:left;
	   margin-bottom:.1em;
	}
}

@media (min-width:870px) {
	.coursesArea {
	   height:585px;
	}
	
}

@media (min-width:940px) {
	.tile {
	   max-width:375px;
	   min-height:100px;
	}
	
	.tile:nth-child(even) {
	
	}
	
	.coursesArea {
	   height:775px;
	}
	
	.leftHalf {
	    min-height:100%;
	    height:100%;
	    min-width:calc(100% - 577.6px);
	    max-width:calc(100% - 577.6px);
	    color: $white;
	    background-color:$purple;
	    display:inline-block;
	    vertical-align:top; 
    }
	
	
	.tier1 {
	    font-size:1.5em;
	    margin:0;
	    padding:0;
	    padding-left:1.15em;
	}

    .listi {
	    display:block;
	    line-height:1.5em;
	    margin-bottom:.601em;
	    margin-right:11px;
	}

    .listi:before {
		content: "\003E \020";
		font-family:"consolas";
		font-weight:200;
		font-size: .8em;
		width: 1em;
		float:left;
		margin-bottom:.1em;
	}
	
	.rightHalf {
	    min-height:100%;
	    height:100%;
	    min-width:577.6px;
	    max-width:577.6px;
	    display:inline-block;
	    background-color:rgba(100,60,60,.5);
	}
	
}

@media (min-width:978px) {
	.coursesArea {
	   height:740px;
	}
}

@media (min-width:1073px) {
	.coursesArea {
	   height:708px;
	}
	
	.rightHalf {
		min-width:577.6px;
		max-width:577.6px;
	}
	
	
}

@media (min-width:1140px) {
	.tileContainer {
	   display:inline-block;
	   width:310px;
	   padding:0 15px;
	   background-color:rgba(0,0,0,.15);
	   vertical-align:top;
	   overflow:auto;
	}
	
    .leftCol > .tile:nth-child(even) {
        display:none;
    }
    
    .rightCol > .tile:nth-child(odd) {
        display:none;
        margin-left:0px;
    }
    
    .rightCol > .tile:nth-child(even) {
        margin-left:0px;
    }
    
    .midImg {
        display:inline-block;
        width:445px;
        height:435px;
        background-color: $red;
    }
}

@media (min-width:1175px) {
	
	
}




















