@CHARSET "ISO-8859-1";

@import "foundation/settings";
@import "foundation/components/offcanvas";

$green: #3c5346;
$red: #872633;
$yellow: #dfb655;
$black: #272328;
$purple: #2a1f26;
$white: #f9f9f9;

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-regular.ttf);
}

@font-face {
    font-family: "OpenSansLt";
    src: url(../fonts/opensans-light-webfont.woff);
}


@font-face {
    font-family: "OpenSansLtCn";
    src: url(../fonts/OpenSans-CondLight.ttf);
}


html, body {
	width:100%;
	padding:0;
	margin:0;
}

body {
	font-family:"OpenSansLt";
	
}

div {
	padding:0;
	margin:0;
	border:0px;
	
}

.section {
	
}

.coursesArea2 {
	width:100%;
	height:1428px;
}

.coursesArea {
	height:700px;
	width:100%
}

.vertHalf {
	min-height:50%;
	height:50%;
	min-width:100%;
}

.vertFull {
	min-height:100%;
	height:100%;
	min-width:100%;
}

.leftHalf {
	min-height:100%;
	height:100%;
	min-width:50%;
	max-width:50%;
	color: $white;
	background-color:$purple;
    display:inline-block;
	vertical-align:top;
	
}

.tier1 {
    font-size:1.07em;
    margin:0;
    padding:0;
    padding-left:.4em;
}

.listi {
	display:block;
	line-height:1.5em;
	margin-bottom:.5em;
	margin-right:11px;
}

.listi:before {
 content: "\003E \020";
 font-family:"consolas";
 font-weight:200;
 font-size: .8em;
 width: 1em;
 float:left;
 margin-bottom:.1em;
}

.rightHalf {
	min-height:100%;
	height:100%;
	min-width:50%;
	max-width:50%;
	display:inline-block;
	background-color:rgba(100,60,60,.5);
}

.mobi {
	min-height:50%;
	max-height:50%;
}

.mobiTop {
	background-color: $red;
}

.mobiBottom {
	background-color: $green;
}

.tier2 {
	display:none;
	min-width:50%;
    max-width:50%;
	min-height:100%;
	height:100%;
	display:inline-block;
	background-color: $purple;
}

.tier2Info {
	min-height:50%;
	height:50%;
	min-width:100%;
    max-width:100%;
	background-color: $green;
}

.tier2Img {
	min-height:50%;
	height:50%;
	min-width:100%;
    max-width:100%;
	background-color: $yellow;
}

.tier3 {
	display:none;
    min-width:50%;
    max-width:50%;
    min-height:100%;
    height:100%;
    display:inline-block;
    background-color: $black;
}

.tier3Info {
    min-height:50%;
    height:50%;
    min-width:100%;
    max-width:100%;
    background-color: $red;
}

.tier3Img {
    min-height:50%;
    height:50%;
    min-width:100%;
    max-width:100%;
    background-color: $black;
}







@media (min-width:408px) {
	.coursesArea {
	   height:540px;
	}
}

@media (min-width:665px) {
	.rightHalf {
	    min-height:100%;
	    height:100%;
	    min-width:435px;
	    max-width:435px;
	    display:inline-block;
	    background-color:rgba(100,60,60,.5);
    }
	
	.leftHalf {
	    min-height:100%;
	    height:100%;
	    min-width:calc(100% - 435px);
	    max-width:calc(100% - 435px);
	    color: $white;
	    background-color:$purple;
	    display:inline-block;
	    vertical-align:top;
    
    }
	
	.mobi {
	   display:none;
	}
	
	.coursesArea {
       height:595px;
    }
    
    .tier2 {
        display:inline-block;
    }
    
    
    .tier3 {
        display:inline-block;
    }

	.tier1 {
        font-size:1.1em;
        margin:0;
        padding:0;
        padding-left:1.05em;
    }

    .listi {
        display:block;
        line-height:1.5em;
        margin-bottom:.601em;
        margin-right:11px;
    }

    .listi:before {
        content: "\003E \020";
        font-family:"consolas";
        font-weight:200;
        font-size: .8em;
        width: 1em;
        float:left;
        margin-bottom:.1em;
    }
    	
}
	

@media (min-width:716px) {
    .coursesArea {
        height:645px;
    }	
    
    .tier1 {
	    font-size:1.3em;
	    margin:0;
	    padding:0;
	    padding-left:1em;
	}

    .listi {
	    display:block;
	    line-height:1.5em;
	    margin-bottom:.5em;
	    margin-right:11px;
	}

    .listi:before {
	   content: "\003E \020";
	   font-family:"consolas";
	   font-weight:200;
	   font-size: .8em;
	   width: 1em;
	   float:left;
	   margin-bottom:.1em;
	}
}

@media (min-width:870px) {
	.coursesArea {
	   height:585px;
	}
	
}

@media (min-width:940px) {
	.coursesArea {
	   height:775px;
	}
	
	.leftHalf {
	    min-height:100%;
	    height:100%;
	    min-width:calc(100% - 577.6px);
	    max-width:calc(100% - 577.6px);
	    color: $white;
	    background-color:$purple;
	    display:inline-block;
	    vertical-align:top; 
    }
	
	
	.tier1 {
	    font-size:1.5em;
	    margin:0;
	    padding:0;
	    padding-left:1.15em;
	}

    .listi {
	    display:block;
	    line-height:1.5em;
	    margin-bottom:.601em;
	    margin-right:11px;
	}

    .listi:before {
		content: "\003E \020";
		font-family:"consolas";
		font-weight:200;
		font-size: .8em;
		width: 1em;
		float:left;
		margin-bottom:.1em;
	}
	
	.rightHalf {
	    min-height:100%;
	    height:100%;
	    min-width:577.6px;
	    max-width:577.6px;
	    display:inline-block;
	    background-color:rgba(100,60,60,.5);
	}
	
}

@media (min-width:978px) {
	.coursesArea {
	   height:740px;
	}
}

@media (min-width:1073px) {
	.coursesArea {
	   height:708px;
	}
	
	.rightHalf {
		min-width:577.6px;
		max-width:577.6px;
	}
	
	
}







