@CHARSET "ISO-8859-1";

@import "foundation/settings";
@import "foundation/components/offcanvas";

@import "compass/css3";
@import "transform/settings";
@import "transform/flip";

$green: #3c5346;
$red: #872633;
$yellow: #dfb655;
$black: #272328;
$purple: #2a1f26;
$white: #f9f9f9;

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-regular.ttf);
}

@font-face {
    font-family: "OpenSansLt";
    src: url(../fonts/opensans-light-webfont.woff);
}


@font-face {
    font-family: "OpenSansLtCn";
    src: url(../fonts/OpenSans-CondLight.ttf);
}


html, body {
	width:100%;
	padding:0;
	margin:0;
}

body {
	font-family:"OpenSansLt";
	
}

div {
	padding:0;
	margin:0;
	border:0px;
	
}

/* Card Flip CSS */

.container { 
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800px;
}

.T2card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center;
}

.T2card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.T2card .front {
  background: red;
}

.T2card .back {
  background: blue;
  transform: rotateY( 180deg );
}

.T2card.flipped {
  transform: translateX( -100% ) rotateY( -180deg );
}



/* Card Flip CSS */

.section {
	
}

.coursesArea2 {
	width:100%;
	height:1428px;
}

.coursesArea {
	height:700px;
	width:100%
}

.vertHalf {
	min-height:50%;
	height:50%;
	min-width:100%;
}

.vertFull {
	min-height:100%;
	height:100%;
	min-width:100%;
}

.leftHalf {
	min-height:100%;
	height:100%;
	min-width:50%;
	max-width:50%;
	color: $white;
	background-color:$purple;
    display:inline-block;
	vertical-align:top;
	
}

.tier1 {
    font-size:1.07em;
    margin:0;
    padding:0;
    padding-left:.4em;
}

.listi {
	display:block;
	line-height:1.5em;
	margin-bottom:.5em;
	margin-right:11px;
}

.listi:before {
 content: "\003E \020";
 font-family:"consolas";
 font-weight:200;
 font-size: .8em;
 width: 1em;
 float:left;
 margin-bottom:.1em;
}


.rightHalf {
	min-height:100%;
	height:100%;
	min-width:50%;
	max-width:50%;
	display:inline-block;
	/*background-color:rgba(100,60,60,.5);*/
}

.flip-card-container {
	@include box-shadow(0 0 150px rgba(darken(#000000, 10%), .8) inset);
	background-color: #ccc;
}

.mobi {
	min-height:50%;
	max-height:50%;
}

.mobiTop {
	background-color: $red;
}

.mobiBottom {
	background-color: $green;
}

.rightHalf > div > div {
	text-align:left;
}

.rightHalf > div > div > div {
	padding: 1rem;
}

/*.rightHalf > div > div > div > b {
	vertical-align:middle;
	display:inline-block;
	line-height:1pem;
}*/
.tier2 {
	display:none;
	min-width:50%;
  max-width:50%;
	min-height:100%;
	height:100%;
	display:inline-block;
	/*background-color: $purple;*/
}

.tier2Info, .tier2Info .card-front,.tier2Img, .tier2Img .card-front, {
	min-width:100%;
	max-width:100%;
}

 .tier2Info .card-front, .tier2Img .card-front, .tier3Info .card-front, .tier3Img .card-front {
	min-height:100%;
	max-height:100%;
	height:100%;
}

.tier2Info, .tier2Img, .tier3Info, .tier3Img {
	min-height:50%;
	height:50%;
	min-width:100%;
  max-width:100%;
  text-align:left;
}
.tier2Info .card-front, .tier2Info > div {
	background-color: $green;
}
.tier2Img .card-front, .tier2Img > div {
	background-color: $yellow;
}
.tier3Info .card-front, .tier3Info > div {
	background-color: $red;
}
.tier3Img .card-front, .tier3Img > div {
	background-color: $black;
}

.tier3 {
	display:none;
    min-width:50%;
    max-width:50%;
    min-height:100%;
    height:100%;
    display:inline-block;
 /*   background-color: $black;*/
}






@media (min-width:408px) {
	.coursesArea {
	   height:540px;
	}
}

@media (min-width:665px) {
	.rightHalf {
	    min-height:100%;
	    height:100%;
	    min-width:435px;
	    max-width:435px;
	    display:inline-block;
	    background-color:rgba(100,60,60,.5);
    }
	
	.leftHalf {
	    min-height:100%;
	    height:100%;
	    min-width:calc(100% - 435px);
	    max-width:calc(100% - 435px);
	    color: $white;
	    background-color:$purple;
	    display:inline-block;
	    vertical-align:top;
    
    }
	
	.mobi {
	   display:none;
	}
	
	.coursesArea {
       height:595px;
    }
    
    .tier2 {
        display:inline-block;
    }
    
    
    .tier3 {
        display:inline-block;
    }

	.tier1 {
        font-size:1.1em;
        margin:0;
        padding:0;
        padding-left:1.05em;
    }

    .listi {
        display:block;
        line-height:1.5em;
        margin-bottom:.601em;
        margin-right:11px;
    }

    .listi:before {
        content: "\003E \020";
        font-family:"consolas";
        font-weight:200;
        font-size: .8em;
        width: 1em;
        float:left;
        margin-bottom:.1em;
    }
    
    .listi a {
    	color: #f9f9f9;
    }
}
	

@media (min-width:716px) {
    .coursesArea {
        height:645px;
    }	
    
    .tier1 {
	    font-size:1.3em;
	    margin:0;
	    padding:0;
	    padding-left:1em;
	}

    .listi {
	    display:block;
	    line-height:1.5em;
	    margin-bottom:.5em;
	    margin-right:11px;
	}

    .listi:before {
	   content: "\003E \020";
	   font-family:"consolas";
	   font-weight:200;
	   font-size: .8em;
	   width: 1em;
	   float:left;
	   margin-bottom:.1em;
	}
}

@media (min-width:870px) {
	.coursesArea {
	   height:585px;
	}
	
}

@media (min-width:940px) {
	.coursesArea {
	   height:775px;
	}
	
	.leftHalf {
	    min-height:100%;
	    height:100%;
	    min-width:calc(100% - 577.6px);
	    max-width:calc(100% - 577.6px);
	    color: $white;
	    background-color:$purple;
	    display:inline-block;
	    vertical-align:top; 
    }
	
	
	.tier1 {
	    font-size:1.5em;
	    margin:0;
	    padding:0;
	    padding-left:1.15em;
	}

    .listi {
	    display:block;
	    line-height:1.5em;
	    margin-bottom:.601em;
	    margin-right:11px;
	}

    .listi:before {
		content: "\003E \020";
		font-family:"consolas";
		font-weight:200;
		font-size: .8em;
		width: 1em;
		float:left;
		margin-bottom:.1em;
	}
	
	.rightHalf {
	    min-height:100%;
	    height:100%;
	    min-width:577.6px;
	    max-width:577.6px;
	    display:inline-block;
	    background-color:rgba(100,60,60,.5);
	}
	
}

@media (min-width:978px) {
	.coursesArea {
	   height:740px;
	}
}

@media (min-width:1073px) {
	.coursesArea {
	   height:708px;
	}
	
	.rightHalf {
		min-width:577.6px;
		max-width:577.6px;
	}
	
	
}






