@CHARSET "ISO-8859-1";

@import "foundation/settings";
@import "foundation/components/offcanvas";

@import "compass/css3";
@import "transform/settings";
@import "transform/flip";

@import "font-awesome";
@import "font-awesome/variables";

$green: #3c5346;
$red: #872633;
$yellow: #dfb655;
$black: #272328;
$purple: #2a1f26;
$white: #f9f9f9;
$blue: #66B9E3;

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-regular.ttf);
}

@font-face {
    font-family: "OpenSansLt";
    src: url(../fonts/opensans-light-webfont.woff);
}


@font-face {
    font-family: "OpenSansLtCn";
    src: url(../fonts/OpenSans-CondLight.ttf);
}


html, body {
	width:100%;
	padding:0;
	margin:0;
}

body {
	font-family:"OpenSansLt";
	
}

div {
	padding:0;
	margin:0;
	border:0px;
	
}

    /* Card Flip CSS */

.container { 
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800px;
}

.T2card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center;
}

.T2card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.T2card .front {
  background: red;
}

.T2card .back {
  background: blue;
  transform: rotateY( 180deg );
}

.T2card.flipped {
  transform: translateX( -100% ) rotateY( -180deg );
}



    /* END Card Flip CSS */

    /* Fly-in SCSS       */
    

.clincher {
  display: inline-block;
  position: relative;
	top: 0;
	left: 0;
	@include opacity(0);
    
	&.come-in,&.come-in-faster {
		@include transition(transform);
		@include transition-property(transform, opacity);
		@include transform(translateY(50px));
		@include opacity(1);
	}
	
	&.come-in {
		@include transition-duration(1s , 4s);
	}
	&.come-in-faster {
		@include transition-duration(0.2s , 3s);
	}
}


/*
.come-in {
  @include transform(translateY(50px));
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}
*/
    
    /* END Fly-in SCSS   */

    /* Down Arrow CSS    */



.arrow {
  position: absolute;
  top: calc(100vh - 50px - 60px);
  left: 50%;
  margin-left:-20px;
}
 
.bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}
.animated{
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	 
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	 
	 animation-delay: 2s;
	 -moz-animation-delay: 2s;
	 -webkit-animation-delay: 2s;
	 -o-animation-delay: 2s;
	 -ms-animation-delay: 2s;
	 
	animation-fill-mode:both;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}
 
 
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-30px);}
    60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-30px);}
    60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}



     /* End Down Arrow CSS */

.section {
    
}

p {
	margin:0;
	padding:0;
}

h1, h2, h3, h4 {
	font-family:"OpenSansLt";
	font-size:16px;
	font-weight:400;
	margin:0;
	padding:0;
}

.main {
	position:relative;
	height:calc(100vh - 60px);
	width:100%;
	background: url("../img/campusPhoto1.jpg");
    background-position: 80% 60%;
    background-size:cover;
    background-repeat: no-repeat;
    padding-right:15px;
    padding-top:2em;
}

.shader {
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.13);
	z-index:2;
}

.headtext {
    float:right;
}

.h1Head {
	font-size:1.85em;
	text-align:right;
	color:#333;
	/*font-family:"opensanslt";*/
}

.h2Head {
	font-size:1.35em;
	text-align:right;
	color:#333;
	/*font-family:"opensanslt";*/
}

/* //////////////////////// */
/*    Second Section Area   */
/* //////////////////////// */

.two {
    width:100%;
    color:rgb(215,215,215);    
    position:relative;
    padding:0 16px;
    padding-top:1.5em;
    padding-bottom:3em;
    background-color:#323232;
}

.twoContainer {
	text-align:center;
	width:100%;
	min-height:600px;
}

.facts {
	display:none;
}

.factItem {
	display:inline-block;
	margin:0 0em;
	width:194px;
	max-height:115px;
}

.number {
	font-family:"Trebuchet MS";
	font-weight:800;
	font-size:3em;
	display:block;
	color:#fff;
	margin-bottom:16px;
}

.label {
	font-family:"OpenSansLt";
	font-weight:400;
	font-size:1em;
	color: $blue;
}

.clincher {
	display:none;
	margin-top:24px;
}

.clincherNumber {
	font-size:3.4em;
}

.questionnaire {
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:155px;
	margin-bottom:32px;
	margin-top:64px;
	text-align:center;
}

.questionnaireH2 {
	font-family:"OpenSansLt";
	font-size:1.5em;
	color: #fff;
	display:block;
	margin-left:calc(50% - 108px);
	text-align:left;
	margin-bottom:8px;
}

.questionnaireForm {
   display:inline-block;
   background: url(../img/dark-blue-arrow.png) no-repeat #fff;
   background-size:23px 15px;
   background-position: 98% 10px;
   width: 230px;
   height: 34px;
   overflow: hidden;
}

.questionnaireForm select{
   background: transparent;
   width: 255px;
   padding: 5px;
   font-size: 16px;
   font-family:"OpenSansLt";
   line-height: 1.5em;
   border: 0;
   border-radius: 0;
   height: 34px;
   color:#333;
   -webkit-appearance: none;
   z-index:10;
}

.majorTiles {
	text-align:center;
}

.majorTile{
	display:inline-block;
	text-align:left;
	border: 1px solid rgba(102,185,227,.85);
	margin:16px;
	padding:6px;
	box-sizing:border-box;
	width:230px;
}

.majorTileTitle {
	font-size:1.1em;
	margin-bottom:16px;
}

.fulfilledLabel {
	font-size:.95em;
}

.fulfilled {	
    font-size:.95em;
	margin-bottom:16px;
	
}

.offered {
    font-size:.95em;
    margin-bottom:16px;
}

.enrollButton {
	display: block;
	width:95px;
	min-height:30px;
	margin-right:auto;
	margin-left:auto;
	background:rgba(102,185,227,.85);
	padding:4px 8px;
	color:#fff;
	border-radius:2px;
	margin-bottom:8px;
}

.buttonContainer {
	text-align:center;
}

/* //////////////////////// */
/*  End Second Section Area */
/* //////////////////////// */


/* Courses Area */



.coursesArea2 {
	width:100%;
	height:1428px;
}

.coursesArea {
	display:none;
	height:700px;
	width:100%
}

.vertHalf {
	min-height:50%;
	height:50%;
	min-width:100%;
}

.vertFull {
	min-height:100%;
	height:100%;
	min-width:100%;
}

.leftHalf {
	min-height:100%;
	height:100%;
	min-width:50%;
	max-width:50%;
	color: $white;
    display:inline-block;
	vertical-align:top;
	background-color:#eee;
	border-right:#999 1px solid;
}

.tier1 {
    font-size:1.07em;
    margin:0;
    padding:0;
    padding-left:.4em;
}

.listi {
	display:block;
	line-height:1.5em;
	margin-bottom:.5em;
	margin-right:11px;
}

.listi:before {
 content: "\003E \020";
 font-family:"consolas";
 font-weight:200;
 font-size: .8em;
 width: 1em;
 float:left;
 margin-bottom:.1em;
}

.rightHalf {
	min-height:100%;
	height:100%;
	min-width:50%;
	max-width:50%;
	display:inline-block;
	/*background-color:rgba(100,60,60,.5);*/
}

.flip-card-container {
	@include box-shadow(0 0 150px rgba(darken(#000000, 10%), .8) inset);
	background-color: #ccc;
}

.mobi {
	min-height:50%;
	max-height:50%;
}

.mobiTop {
	background-color: $red;
}

.mobiBottom {
	background-color: $green;
}

.rightHalf > div > div {
	text-align:left;
}

.rightHalf > div > div > div {
	padding: 1rem;
}

/*.rightHalf > div > div > div > b {
	vertical-align:middle;
	display:inline-block;
	line-height:1pem;
}*/
.tier2 {
	display:none;
	min-width:50%;
  max-width:50%;
	min-height:100%;
	height:100%;
	display:inline-block;
	/*background-color: $purple;*/
}

.tier2Info, .tier2Info .card-front,.tier2Img, .tier2Img .card-front, {
	min-width:100%;
	max-width:100%;
}

 .tier2Info .card-front, .tier2Img .card-front, .tier3Info .card-front, .tier3Img .card-front {
	min-height:100%;
	max-height:100%;
	height:100%;
}

.tier2Info, .tier2Img, .tier3Info, .tier3Img {
	min-height:50%;
	height:50%;
	min-width:100%;
    max-width:100%;
    text-align:left;
}
.tier2Info .card-front, .tier2Info > div {
	background-color: #eee;
}
.tier2Img .card-front, .tier2Img > div {
	
}
.tier3Info .card-front, .tier3Info > div {
	background-color: #eee;
}
.tier3Img .card-front, .tier3Img > div {
    
}

.tier2Img .card-front{
    background-image: url("../img/IMAGES/Physical%20Science/main.jpg");
    background-size:cover;
}

.tier3Img .card-front{
    background-image: url("../img/IMAGES/Physical%20Science/prop.jpg");
    background-size:cover;
}
.tier3 {
	display:none;
    min-width:50%;
    max-width:50%;
    min-height:100%;
    height:100%;
    display:inline-block;
 /*   background-color: $black;*/
}

/* ------------------------ */
/* ------Contact Form------ */
/* ------------------------ */

.contact {
	text-align:center;
	padding:16px;
}

.contactTitle {
	display:inline-block;
}

.contactTitle h2 {
	font-size:1.5em;
}

.contactQuarter {
	display:inline-block;
	width:230px;
	text-align:left;
    margin: 8px 16px;
}

input {
    font-family:"OpenSansLt";
    font-size:.95em;	
}

.contactAreaQuarter {
	width:100%;
	height:32px;
}

.contactHalf {
	display:inline-block;
	width:230px;
    text-align:left;
    margin: 8px 16px;
}

.contactAreaHalf {
    width:100%;
    height:32px;
}

textarea {
    font-family:"OpenSansLt";
    font-size:.95em;    
    min-height:48px;
}

.submitButton {
	padding-top:7px;
	margin-top:8px;
	box-sizing:border-box;
	min-height:32px;
	background-color:$blue;
}

/*//////////////////////*/
/*//// Media Queries////*/
/*//////////////////////*/



@media (min-width:408px) {
	.coursesArea {
	   height:540px;
	}
}

@media (min-width:577px) {
	.questionnaireH2 {
	   margin-left:0;
	   font-size:1.8em;
	   text-align:center;
	}
	
    .questionnaireForm {
       width: calc(460px + 32px);
       
    }
    
    .questionnaireForm select {
       width: calc(460px + 32px + 25px);
       
    }
    
    .contactTitle h2 {
        font-size:1.8em;
    }
    
    .contactHalf {
       width: calc(464px + 32px);
    }
}
    
@media (min-width:665px) {
	.twoContainer {
	
	}
		
    .tileInvis {
    display:inline-block;
    }
    
    .tileContainer {
        max-width: 850px;
        min-height:400px;
    }
    
    .tile {
        max-width:280px;
        margin-bottom:2.25em;
    }
    
    .tile:nth-child(even) {
        margin-left:2.5em;
    }
    
    .tile:nth-child(even) > .h3Tile,
    .tile:nth-child(even) > .tileText {
        text-align:left;
    }
    
    .tile:nth-child(odd) > .h3Tile,
    .tile:nth-child(odd) > .tileText {
    text-align:right;
    }
    
    .tile:nth-child(odd) > .icon {
        float:right;
        margin-bottom:3.5em;
        margin-left:.75em;
    }
    
    .tile:nth-child(even) > .icon {
        float:left;
        margin-bottom:3em;
        margin-right:.75em;
    }
    
    .h3Tile {
    }
    
    .tileText {
    }
    
	.rightHalf {
	    min-height:100%;
	    height:100%;
	    min-width:435px;
	    max-width:435px;
	    display:inline-block;
	    background-color:rgba(100,60,60,.5);
    }
	
	.leftHalf {
	    min-height:100%;
	    height:100%;
	    min-width:calc(100% - 435px);
	    max-width:calc(100% - 435px);
	    color: $white;
	    display:inline-block;
	    vertical-align:top;
    
    }
	
	.mobi {
	   display:none;
	}
	
	.coursesArea {
       height:595px;
    }
    
    .tier2 {
        display:inline-block;
    }
    
    
    .tier3 {
        display:inline-block;
    }

	.tier1 {
        font-size:1.1em;
        margin:0;
        padding:0;
        padding-left:1.05em;
    }

    .listi {
        display:block;
        line-height:1.5em;
        margin-bottom:.601em;
        margin-right:11px;
    }

    .listi:before {
        content: "\003E \020";
        font-family:"consolas";
        font-weight:200;
        font-size: .8em;
        width: 1em;
        float:left;
        margin-bottom:.1em;
        color: #333;
    }
    
    .listi a {
    	color: #333;
    }
}
	
@media (min-width:716px) {   
    .tile:nth-child(even) {
        margin-left:4em;
    }	
	
	.coursesArea {
        height:645px;
    }	
    
    .tier1 {
	    font-size:1.3em;
	    margin:0;
	    padding:0;
	    padding-left:1em;
	}

    .listi {
	    display:block;
	    line-height:1.5em;
	    margin-bottom:.5em;
	    margin-right:11px;
	}

    .listi:before {
	   content: "\003E \020";
	   font-family:"consolas";
	   font-weight:200;
	   font-size: .8em;
	   width: 1em;
	   float:left;
	   margin-bottom:.1em;
	}
}

@media (min-width:843px) {
	.facts {
	   display:block;
	}
	
	.clincher {
	   display:block;
	}
	
	.questionnaireForm {
	   width:calc(462px + 64px);
	}
	
	.questionnaireForm select {
       width:calc(462px + 64px + 25px);
    }
    
    .contactHalf {
        display:block;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width:870px) {
	.coursesArea {
	   height:585px;
	}
	
}

@media (min-width:940px) {
	.tile {
	   max-width:375px;
	   min-height:100px;
	}
	
	.tile:nth-child(even) {
	
	}
	
	.coursesArea {
	   height:775px;
	}
	
	.leftHalf {
	    min-height:100%;
	    height:100%;
	    min-width:calc(100% - 577.6px);
	    max-width:calc(100% - 577.6px);
	    color: $white;
	    display:inline-block;
	    vertical-align:top; 
    }
	
	
	.tier1 {
	    font-size:1.5em;
	    margin:0;
	    padding:0;
	    padding-left:1.15em;
	}

    .listi {
	    display:block;
	    line-height:1.5em;
	    margin-bottom:.601em;
	    margin-right:11px;
	}

    .listi:before {
		content: "\003E \020";
		font-family:"consolas";
		font-weight:200;
		font-size: .8em;
		width: 1em;
		float:left;
		margin-bottom:.1em;
	}
	
	.rightHalf {
	    min-height:100%;
	    height:100%;
	    min-width:577.6px;
	    max-width:577.6px;
	    display:inline-block;
	    background-color:rgba(100,60,60,.5);
	}
	
}

@media (min-width:978px) {
	.coursesArea {
	   height:740px;
	}
}

@media (min-width:1073px) {
	.coursesArea {
	   height:708px;
	}
	
	.rightHalf {
		min-width:577.6px;
		max-width:577.6px;
	}
	
	
}

@media (min-width:1109px) {
	.factItem {
	   width:calc(230px);
	   margin:16px;
	}
	
	.questionnaireForm {
       width:calc(504px + 64px);
    }
    
    .questionnaireForm select {
       width:calc(504px + 64px + 25px);
    }
    
    .number {
        font-size:3em;
    }
}

@media (min-width:1140px) {
	.tileContainer {
	   display:inline-block;
	   width:310px;
	   padding:0 15px;
	   background-color:rgba(0,0,0,.15);
	   vertical-align:top;
	   overflow:auto;
	}
	
    .leftCol > .tile:nth-child(even) {
        display:none;
    }
    
    .rightCol > .tile:nth-child(odd) {
        display:none;
        margin-left:0px;
    }
    
    .rightCol > .tile:nth-child(even) {
        margin-left:0px;
    }
    
    .midImg {
        display:inline-block;
        width:445px;
        height:435px;
        background-color: $red;
    }
}

@media (min-width:1175px) {
	/*
		Luke added this section
	*/
	.tileContainerLuke {
		width: 50rem;
		-webkit-column-count: 3;
		margin-left:auto;
		margin-right:auto;
	}
	.tileContainerLuke .tileLuke {
		display: block;
		width: 15rem;
	}
	.tileContainerLuke .tileLuke .icon {
	} 
	.tileContainerLuke .tileLuke:nth-child(n+2) > .icon {
		float:left;
		margin-bottom:3em;
		margin-right:.75em;
	}
	.tileContainerLuke .tileLuke:nth-child(-n+3) > .icon {
		float:right;
		margin-bottom:3.5em;
		margin-left:.75em;
	}
	.tileContainerLuke .tileLuke:nth-child(4):before {
		height: 30em;
		background-color: blue;
		width: 15em;
		content: "Hello world";
		display: inline-block
	}
	/*
		END OF == Luke added this section
	*/
	
	
}




















