@CHARSET "ISO-8859-1";

@import "foundation/settings";
@import "foundation/components/offcanvas";

$green: #3c5346;
$red: #872633;
$yellow: #dfb655;
$black: #272328;
$purple: #2a1f26;
$white: #f9f9f9;

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-regular.ttf);
}

@font-face {
    font-family: "OpenSansLt";
    src: url(../fonts/opensans-light-webfont.woff);
}


@font-face {
    font-family: "OpenSansLtCn";
    src: url(../fonts/OpenSans-CondLight.ttf);
}




body {
	font-family:"OpenSansLt";
	
}

div {
	padding:0;
	margin:0;
	border:0px;
	
}

.section {
	
}

.coursesArea {
	border: 3px solid $yellow;
	height:702px;
	width:100%
}

.vertHalf {
	min-height:50%;
	height:50%;
	min-width:100%;
}

.leftHalf {
	min-height:100%;
	height:100%;
	min-width:49.5%;
	max-width:50%;
	background-color:rgba(0,0,0,.5);
    display:inline-block;
	vertical-align:top;
	
}

.tier1 {
    font-size:1.5em;
    margin:0;
    padding:0;
    padding-left:.5em;
}

.listi {
	display:block;
	line-height:1.6em;
	margin-bottom:.5em;
}

.listi:before {
 content: "\003E \020";
 font-family:"consolas";
 font-weight:200;
 font-size: .8em;
 width: 0.8em;
 float:left;
}

.rightHalf {
	min-height:100%;
	height:100%;
	min-width:49.5%;
	max-width:50%;
	display:inline-block;
	background-color:rgba(100,60,60,.5);
}

.tier2 {
	min-width:49.5%;
    max-width:50%;
	min-height:100%;
	height:100%;
	display:inline-block;
	background-color: $purple;
}

.tier2Info {
	min-height:50%;
	height:50%;
	min-width:100%;
    max-width:100%;
	background-color: $red;
}

.tier2Img {
	min-height:50%;
	height:50%;
	min-width:100%;
    max-width:100%;
	background-color: $yellow;
}

.tier3 {
    min-width:49.5%;
    max-width:50%;
    min-height:100%;
    height:100%;
    display:inline-block;
    background-color: $black;
}

.tier3Info {
    min-height:50%;
    height:50%;
    min-width:100%;
    max-width:100%;
    background-color: $red;
}

.tier3Img {
    min-height:50%;
    height:50%;
    min-width:100%;
    max-width:100%;
    background-color: $yellow;
}
















